page-gramatica {
    .tituloGramatica{
        color: #005691;
        text-transform: uppercase;
        font-weight: bold;
    }
    .colorGris{
        background-color:#F5F5F5;
    }
    .card-md{
        border-left: 4px solid #3FC6F5;
    }
}
