page-bienvenida {
 .bienvenida{
     background-color: #3FC6F5;
 }
 .nave img{
     width: 50;
     height: auto;
     margin-left: 15%;
     margin-top:5%;
 }
 .cajaLogo{
     margin-top: 10%;
     z-index: 50;
 }
 .transparent{
     background-color: transparent!important;
 }

 .bajas{
     text-transform: lowercase;
     color:#fff;
 }

 .botonesBienvenida{
     width: 90%;
     position:absolute;
     bottom:50px;
     text-align: center;
 }
}
